@media (max-width: 1200px){
    .top__title{
        font-size: 50px;
    }
	.menu__btn{
		display: flex;
	}
    .menu__list{
		display: none;
	}
    .user-actions{
        display: none;
    }
    .menu__list{
        transform: translateY(-2000%);
		position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #202020;
        display: block;
        text-align: center;
        padding-top: 60px;
        margin-top: 0;
        padding-left: 0;
        transition: transform .6s ease;
        

        z-index: 2000;
    
	}
    .menu__list.menu__list--open{
        transform: translateY(0%);
        display: block;
    }
    .user-actions__item-tg{
	margin-left: 0;


}
    .mobile-nav,
    .menu__close{
	display: block;
    
    }
    .menu__item{
        margin-bottom: 30px;

    }
    .mobile-actions{
        background-color: #2073b6;
        height: 60px;
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu__close-btn{
        position: absolute;
        top: 20px;
        right: 20px;

    }
    .menu__close-btn img{
        width: 30px;

    }

	.menu__btn{
		display: flex;
	}
}
@media (max-width: 600px) {
    .assortment__list {
      grid-template-columns: 1fr; /* одна карточка в ряд */
      gap: 20px;
    }
  
    section.card {
        max-width: 335px;
        align-items: center;
    }
    .card:hover {
        transform: scale(1);
        box-shadow: 0 2px 8px rgba(0.5, 0.5, 0.5, 0.5);
        background-color: #1d1a1a;
        color: #ffffff;
      }
    .assortment__title{
        font-size: 20px;
    }
  }
@media (max-width: 1000px){
	.user-actions__item-tg{
		margin-left: 30px;
	}
	.menu{
		margin-right: auto;

	}
	.logo{
		margin-bottom: 0;

	}
	.header__inner{
			min-height: auto;
	}

	.container{
		width: 100%;
	}
	.main{
		width: 100%;
	}
	.menu__list{
		display: none;
	}
	.menu__btn{
		display: flex;
	}
	.menu{

		margin-right: 0;
	}
	.logo{

	}
    .menu__list{
        transform: translateY(-110%);
		position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 480px;
        background-color: #202020;
        display: block;
        text-align: center;
        padding-top: 60px;
        padding-left: 0;
        transition: transform .6s ease;
        

        z-index: 10000;
    
	}
    .menu__list.menu__list--open{
        transform: translateY(0%);
        display: block;
    }
    .top__title{
        font-size: 40px;
    }
    .top__text{
        margin-left: 100px;
    }
}
@media (max-width: 860px){

    .top__title{
        font-size: 36px;
    }
    .top__text{
        margin-left: 85px;
    }



}
@media (max-width: 768px){
	.header__inner{
		padding-left: 20px;
		padding-right: 20px;
	}
    table, thead, tr {
        display: block;
        width: 100%;
      }
    
      th {
        display: block;
        width: 100%;
        text-align: center;  
        

      }
      th .top__title{
       padding-bottom: 0;
      }

    .logo{
        margin-left: 0;
        padding-left: 0;
    }
    .top__text{
        margin-left: 0px;
        margin-top: 0;
    }
    .top__title{
        font-size: 45px;
    }

}
@media (max-width: 480px){

    .menu__list{

        width: 360px;

    
	}
    .news-section__slides img {
        width: 10%;
        height: auto; /* сохраняет пропорции изображения */
        max-height: 80vh; /* не больше 80% высоты экрана */
        object-fit: cover; /* красиво обрезает лишнее */
        scroll-snap-align: center;
        border-radius: 20px;
      }

	.menu__list {
		transform: translateY(-100%);
		position: fixed;
		top: 0;
		right: 0;
		width: 260px;
		height: 100vh;
		background-color: #202020;
		display: flex;
		flex-direction: column;
		text-align: center;
		padding-top: 80px;
		padding-left: 0;
		gap: 20px;
		box-shadow: -2px 0 10px rgba(0,0,0,0.3);
		transition: transform 0.8s ease;
		z-index: 10000;
	}

	/* Когда меню открывается */
	.menu__list.menu__list--open {
		transform: translateX(0);
	}

}
@media (max-width: 360px) {
	.menu__list {
		transform: translateX(100%);
		position: fixed;
		top: 0;
		right: 0;
		width: 260px;
		height: 100vh;
		background-color: #202020;
		display: flex;
		flex-direction: column;
		text-align: center;
		padding-top: 80px;
		padding-left: 0;
		gap: 20px;
		box-shadow: -2px 0 10px rgba(0,0,0,0.3);
		transition: transform 0.4s ease;
		z-index: 10000;
	}

	/* Когда меню открывается */
	.menu__list.menu__list--open {
		transform: translateX(0);
	}
}
@media (max-width: 480px){

.top-img3{
    display: none;
}
.top-img4{
    display: none;
}
.top-img2{
    display: none;
}
.top-img5 {
	position: absolute;
	left: 5%;
	top: 250px; /* регулируй отступ от верхнего края секции */
	transform: translateX(-50%);
	transform: rotate(90deg);
	max-height: 160px;
	width: auto;
	z-index: -1;
  }
.top-img {
	position: absolute;
	left: 70%;
	top: 250px; /* регулируй отступ от верхнего края секции */
	transform: translateX(-50%);
	max-height: 390px;
	width: auto;
	z-index: 1;
	animation: floatUpDown 8s ease-in-out infinite;
  }
.blue-line {

	-webkit-backdrop-filter: blur(100px);
	backdrop-filter: blur(1px);
  }
  .top__title{
    font-size: 34px;
}
}
